<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title Express-Libro de visitas></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

</head>

<body class="container">

    <h1>
        <a href="/zombies" class="btn btn-primary pull-right ">
            Zombies
    </a>
    </h1>
    <h1>
        <a href="/Clases" class="btn btn-primary pull-right ">
            Clases
    </a>
    </h1>
    <h1>
        <a href="/Armas" class="btn btn-primary pull-right ">
            Armas
    </a>
    </h1>
    <h1>
        <a href="/new-entry" class="btn btn-primary pull-right ">
            Victimas
    </a>
    </h1>